@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Montserrat:wght@200;300;500&family=Open+Sans:wght@300;400;500;600&family=Outfit:wght@300;400;600&family=Poppins:wght@100;200;300;400;500&family=Raleway:wght@700&family=Spartan:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
}

:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6% 5% 2% 5%;
}

.container .container__wrapper {
    display: flex;
}

.container .page__description {
    width: 420px;
}

.container__wrapper .page__description h2 {
    font-weight: 700;
    font-size: 38px;
    color: var(--dark-magenta);
    padding-bottom: 20px;
}

.container__wrapper .page__description p {
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-grayish-magenta);
    padding-bottom: 20px;
    line-height: 1.5;
}

.container__wrapper .page__ratings {
    padding-top: 30px;
}

.container__wrapper .page__ratings .page__ratings__child {
    display: flex;
    background: var(--light-grayish-magenta);
    padding: 12px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.page__ratings .rating__child:nth-child(2) {
    padding-left: 40px;
}

.page__ratings .rating__child:nth-child(3) {
    padding-left: 80px;
}

.container__wrapper .page__ratings .page__ratings__child i {
    color: rgb(212, 138, 0);
    padding: 0 2px;
}

.container__wrapper .page__ratings .page__ratings__child p {
    color: var(--dark-magenta);
    font-weight: 700;
    padding-left: 1.8rem;   
}

.reviews__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}

.reviews__wrapper .review__card__container {
    background: var(--dark-magenta);
    border-radius: 14px;
    width: 260px;
    margin-left: 20px;
}

.reviews__wrapper .review__card__container:nth-last-child(2) {
    margin-top: 30px;
}

.reviews__wrapper .review__card__container:nth-last-child(1) {
    margin-top: 60px;
}

.reviews__wrapper .review__card__container img {
    height: 40px;
    border-radius: 50%;
}

.reviews__wrapper .review__card__container .review__card__details {
    display: flex;
    padding: 20px;
}

.review__card__details .review__details p {
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 6px;
}

.review__card__details .review__details p:nth-last-child(1) {
    color: var(--soft-pink);
    font-size: 11px;
    font-weight: 400;
}

.review__card__container p {
    color: var(--white);
    padding: 0 20px 20px 20px;
    font-size: 12px;
    font-weight: lighter;
}

